.box{
    height: 200px;
    background-color: blue ;
    width: 300px;
}

@media (max-width: 600px) {
.box {
    background-color: red;
    }
}

h1 {
  font-size: 40px;
}
@media (max-width: 768px) {
h1 {
    font-size: 24px;
    }
}


p {
font-size: 18px;
}
@media (max-width: 480px) {
p {
    display: none;
    }
}

.flex-container {
    display: flex;
    gap: 10px;
}

.flex-item {
    flex: 1;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .flex-container {
    flex-direction: column;
    }
}

button {
    padding: 20px;
    font-size: 16px;
}
@media (max-width: 600px) {
    button {
    padding: 10px;
    }
}

img {
    width: 400px;
    display: block;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    img {
    width: 100%;
    }
}

nav {
    display: flex;
    gap: 15px;
}

 nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    background-color: lightgray;
    border-radius: 5px;
}


@media (max-width: 768px) {
nav {
    flex-direction: column;
    gap: 10px;
    }
}

body {
    background-color: #ffffff;
    color: black;
    font-family: Arial, sans-serif;
    padding: 20px;
}

@media (max-width: 600px) {
body {
    background-color: #222;
    color: white;
    }
}