body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.container1{
    transition: 1s;
    transform-origin: bottom right;
}
.container2{
    transition: 1s;
    transform-origin: bottom right;
}
.container1:hover{
    transform: rotate(20deg) translateY(50px) scale(2) skew(4deg, 5deg);
    color: blue;
}
.container2:hover{
    transform: rotate(-20deg) translateY(-50px) scale(2) skew(-4deg, -5deg);
    color: blue;
}
img{
    height: 120px;
    width: 120px;
}