.first{
    width: 200px;
    height: 200px;
    background-color: #3498db;
    transition: transform 0.5s ease;
}
.first:hover{
    transform: skew(10deg, 5deg);
}
.second{
    width: 150px;
    height: 150px;
    background-color: #e74c3c;
    transition: transform 0.6s ease-in-out;
}
.second:hover{
    transform: scale(1.3);
}
.third{
    width: 150px;
    height: 150px;
    background-color: #2ecc71;
    transition: transform 0.8s ease;
    transform-origin: top left; 
}
.third:hover{
    transform: rotate(45deg); 
}
.fourth{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #3498db;
    transition: transform 0.6s ease-in-out;

}
.fourth1{  
    transform-origin: center;}
.fourth1:hover{
    transform: rotate(20deg);
}
.fourth2{
    transform-origin: top;
    background-color: #e74c3c;
}
.fourth2:hover{
    transform: rotate(20deg);
}
.fourth3{
    transform-origin: bottom;
    background-color: #2ecc71;
}
.fourth3:hover{
     transform: rotate(20deg);
}
.fifth{
    width: 150px;
    height: 150px;
    background-color: #9b59b6;
    transition: all 0.5s ease;
}
.fifth:hover{
    transform: translateX(100px) skew(5deg);
}
.sixth{
    width: 200px;
    height: 150px;
    background-color: #2c1e07;
    transform: skew(10deg);
    transition: transform 0.5s ease;

}
.sixth:hover{   
    transform: skew(0deg);
}
.seventh{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #3498db;
    transition: transform 0.6s ease-in-out;
}
.seventh:hover{
    transform: 
    scale(1.1)       /* 1) გაზრდა 1.1-ჯერ */
    rotate(5deg)     /* 2) ბარათის ბრუნვა 5 გრადუსით */
    translateY(-10px)/* 3) ზევით გადაადგილება 10px */
    skew(3deg);      /* 4) დახრა 3 გრადუსით X ღერძზე */
}