div{
    position: static ;
    background-color: aqua;
    height: 100px;
    width: 100px;
}
.div1{
    position: relative ;
    top: 20px;
    left: 30px;
    background-color: aqua;
    height: 100px;
    width: 100px;
}
.cont{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: lightgray;
}
.div2{
    position: absolute; 
    top: 10px; 
    right: 10px;
    background-color: black;
    height: 100px;
    width: 20px;
}