.linear{
    width: 100px;
    height: 300px;
    border: 3px solid black;
    background:linear-gradient(to right, blue,red)
}
.radial{
    width: 100px;
    height: 300px;
    border: 3px solid black;
    background:radial-gradient(circle,orange,blue);
}
/* 1) px ზომავს პიქსელებით
2) em განისაზღვრება ტექსრის ზომით
3) vh/vw ეკრანის ზომით
4) % მშობელი თეგის პროცენტების მიხედვით */
.container {
    position: relative;
    width: 400px;
    height: 200px;
    margin: 50px;
}

.square {
    width: 100px;
    height: 100px;
    position: absolute;
}

.left {
    background-color: red;
    left: 80px;
    top: 50px;
    z-index: 1;
}

.middle {
    background-color: blue;
    left: 130px;
    top: 50px;
    z-index: 3;
}

.right {
    background-color: green;
    left: 180px;
    top: 50px;
    z-index: 2;
}
.container1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.block {
    width: 80%;
    min-width: 300px;
    height: 50vh;
    background-color: skyblue;
    border-radius: 10px;
}
.box{
    height: 200px;
    width: 200px;
    background:linear-gradient(to right, blue,white) ;
}
.box1{
    height: 200px;
    width: 200px;
    background:radial-gradient(circle, rgb(255, 255, 255),rgb(60, 0, 255)) ;
}
.box2 {
    width: 300px;
    height: 200px;
    background-color: blue;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .box2 {
      background-color: red;
    }
}