body{
    background-color: black;

}

.first{
    background-color: aliceblue;
    width: 90px;
    height: 90px;
    transition: 4s;

}
.first:hover{
    animation: color chinfinite linear;
}


  @keyframes colorChange {
  0%   { background-color: red; } 
  25%  { background-color: yellow; } 
  50%  { background-color: green; } 
  75%  { background-color: blue; }
  100% { background-color: red; } 
}