.p1{
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
}
.p2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
}
.p3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
h1, h2 {
    font-size: 30px;
}
h1 {
    font-weight: 900;
}
h2 {
    font-style: italic;
    font-weight: 400; 
}
