.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 120px);
  gap: 10px;
  align-items: center;
}

.box {
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 6px;
}


.tall {
  height: 180px;
  background: lightcoral;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
}

.box1 {
  background: lightblue;
  padding: 20px;
  border-radius: 6px;
  font-size: 18px;
  width: 100%;
}
