.relative-box {
    width: 150px;
    height: 150px;
    background: orange;
    position: relative;
    top: 20px;
    left: 30px;
}

.parent {
    width: 300px;
    height: 200px;
    background: lightgray;
    position: relative;
    margin-top: 40px;
}

.child {
    width: 80px;
    height: 80px;
    background: red;
    position: absolute;
    top: 20px;
    left: 20px;
}

.flex-grow-container {
  display: flex;
  width: 100%;
  height: 100px;
  background: #ddd;
  margin-top: 40px;
}

.box1 {
  background: salmon;
  flex-grow: 1;
}

.box2 {
  background: lightblue;
  flex-grow: 2;
}

.box3 {
  background: lightgreen;
  flex-grow: 3;
}

.flex-shrink-container {
  display: flex;
  width: 200px;
  background: #ccc;
  margin-top: 40px;
}

.s1, .s2, .s3 {
  width: 150px;
  height: 80px;
}

.s1 {
  background: pink;
  flex-shrink: 0;
}

.s2 {
  background: skyblue;
  flex-shrink: 1;
}

.s3 {
  background: lightgreen;
  flex-shrink: 3;
}