body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.container{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

button{
  flex: 1;
  margin: 10px;
  height: 50px;
  background-color: #0a80cf;
  color: #fff;
  border: solid black;
  border-radius: 5px;
  font-size: 16px;
}   