div{
    position: static ;
    background-color: aqua;
    height: 100px;
    width: 100px;
}
.div1{
    position: relative;
    top: 20px;
    left: 30px;
}
.div2{
    position: absolute;
    top: 0px;
    left: 0px;
}