.container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.block{
    width: 150px;
    height: 150px;
    background-color: blue;
}