body{
    display: flex;
    flex-direction:  row;
    justify-content: center;
    
}
.div1{
    display: flex;
    flex-direction:  row;
    justify-content: center;
    gap: 10px;
}
div{

    background-color: aqua;
    height: 90px;
    width: 100px;
}
.div2{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    gap: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
}
