body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}


.div1{
    height: 10px;
    width: 10px;
    background-color: black;
    transform: translateX(200px) ;
    transform: scale(10);
    transform: rotate(70deg);
}